<!doctype html>
<html>

<head>
    <title>Home Power Meter</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		body {
			text-align: center;
		}

		#g1,
		#g2 {
			width: 200px;
			height: 160px;
			display: inline-block;
			margin: 1em;
		}

    </style>
</head>

<body>
	<h1>DHT Sensor Data </h1>
    <div id="g1"></div>
    <div id="g2"></div>
    <hr>
	<h3> Last eading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>	
	<hr>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
		var g1, g2;
		document.addEventListener("DOMContentLoaded", function(event) {
			g1 = new JustGage({
				id: "g1",
				value: {{power}},
				valueFontColor: "red",
				min: -10,
				max: 50,
				decimals: 2,
				title: "Power",
				label: "W"
			});

			g2 = new JustGage({
				id: "g2",
				value: {{energy}},
				valueFontColor: "yellow",
				min: 0,
				max: 10000,
				decimals: 2,
				title: "Energy",
				label: "Wh"
			});

		});
    </script>
</body>

</html>
