<!doctype html>
<html>
	
<head>
    <title>Home Power Meter</title>
    
	<link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.css">
	<link rel="stylesheet" href='../static/style.css'/>
	<link rel="shortcut icon" href="favico.ico">
	<script src="../static/jquery-3.6.1.min.js"></script>
	<script src="../static/popper.min.js"></script>
	<script src="../static/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		body {
			text-align: center;
		}

		#g1,
		#g2 {
			width: 200px;
			height: 160px;
			display: inline-block;
			margin: 1em;
		}

    </style>
</head>

<body>
	<h1>Home Power Meter </h1>
    <div id="g1"></div>
   <!-- <div id="g2"></div>-->
    <hr>
	<h3> Last Sensors Reading: {{ lastDate }}</h3>	
	<a href="/" class="btn btn-primary">Refresh</a>
	<a href="{{ url_for('download', filename="dummy.db") }}" class="btn btn-secondary">Download Database</a>
	<hr>
	<h3> HISTORICAL DATA </h3>
		<p> Enter date interval to display:
		<form method="POST">
			<div class="d-flex align-items-center justify-content-center">
				<input type="date" id="start" name="numSamples1"
					value="{{lastDate1}}"
					min="{{firstDate}}"
					max="{{lastDate1}}"
					style="margin: .25%">
				<input type="date" id="end" name="numSamples2"
					value="{{lastDate1}}" 
					min="{{firstDate}}"
					max="{{lastDate1}}"
					style="margin: .25%">
				<input type="submit" class="btn btn-info" style="margin-left: 1%;">
			</div>
		</form>

	</p>
		<hr>
		<img src="/plot/power" alt="Power Plot" width="49%">
		<img src="/plot/energy" alt="Energy Plot" width="49%">
	<p> @2022 Developed by Saguaro</p>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>

    <script>
		var g1, g2;
		document.addEventListener("DOMContentLoaded", function(event) {
			g1 = new JustGage({
				id: "g1",
				value: {{power}},
				valueFontColor: "black",
				titleFontColor: "black",
				min: 0,
				max: 15,
				decimals: 2,
				title: "Power",
				label: "kW"
			});

			g2 = new JustGage({
				id: "g2",
				value: {{energy}},
				valueFontColor: "black",
				titleFontColor: "black",
				min: 0,
				max: 5000,
				title: "Energy",
				label: "Wh"
			});

		});
    </script>
</body>

</html>