<!doctype html>
<html>
	
<head>
    <title>Home Power Meter</title>
    
	<link rel="stylesheet" href="../static/bootstrap-4.3.1-dist/css/bootstrap.css">
	<link rel="stylesheet" href='../static/style.css'/>
	<link rel="shortcut icon" href="favico.ico">
	<script src="../static/jquery-3.6.1.min.js"></script>
	<script src="../static/popper.min.js"></script>
	<script src="../static/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		body {
			text-align: center;
		}

		#g1,
		#g2 {
			width: 200px;
			height: 160px;
			display: inline-block;
			margin: 1em;
		}

    </style>
</head>

<body>
	<h1>Home Power Meter </h1>
	<br>
	<div class="container">
		<div class="row">
			
			<div class="col" id="g1"></div>
			<!-- <div id="g2"></div>-->

			<div class="col">
				<h3> Last Reading: {{ maxDateFull }}</h3>
				<a href="/" class="btn btn-primary" style="margin-bottom: 3%;">Refresh</a><br>
				<a href="{{ url_for('download', filename="dummy.db") }}" class="btn btn-secondary">Download Database</a>
			</div>

			<div class="col">
				<h3> Graph Data</h3>
				<form method="POST">

					<input type="date" id="start" name="numSamples1"
					value="{{minDateSel}}"
					min="{{minDate}}"
					max="{{maxDate}}"
					style="margin: .25%">

					<input type="date" id="end" name="numSamples2"
					value="{{maxDateSel}}" 
					min="{{minDate}}"
					max="{{maxDate}}"
					style="margin: .25%">

					<input type="submit" class="btn btn-info" style="margin: 2%;">
					
				</form>
				</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-lg">
				<img src="/plot/power" alt="Power Plot" width="105%" style="margin-bottom: 0.5%;">
			</div>
			<div class="col-lg">
				<img src="/plot/energy" alt="Energy Plot" width="105%" style="margin-bottom: 0.5%;">
			</div>
		</div>		
	</div>
	<p> @2022 Developed by Saguaro</p>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>

    <script>
		var g1, g2;
		document.addEventListener("DOMContentLoaded", function(event) {
			g1 = new JustGage({
				id: "g1",
				value: {{power}},
				valueFontColor: "black",
				titleFontColor: "black",
				min: 0,
				max: 15,
				decimals: 2,
				title: "Power",
				label: "kW"
			});

			g2 = new JustGage({
				id: "g2",
				value: {{energy}},
				valueFontColor: "black",
				titleFontColor: "black",
				min: 0,
				max: 5000,
				title: "Energy",
				label: "Wh"
			});

		});
    </script>
</body>

</html>